<polymer-element name="ab-app-utils">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
    <input id="chooser" type="file" webkitdirectory />
  </template>
  <script>
  (function() {

    /* Utils */

    var BASE_PATH = './apps/app-builder';
    var FS_EXTRA = BASE_PATH + '/node_modules/fs-extra';

    /* App Class */

    function App(path, manifest) {
      this.path = path;
      this._loadManifest(manifest || {});
    };

    var p = App.prototype;

    p.toJSON = function() {
      return {
        name: this.name,
        appBuilder: {
          grid: this.snapshotGrid(),
        },
        authors: this.authors,
        licence: this.licence,
      };
    };

    p._loadManifest = function(manifest) {
      this.name = manifest.name;
      this.authors = manifest.authors;
      this.licence = manifest.licence;
      this.snapshot = 'appBuilder' in manifest ? manifest.appBuilder.grid : null;
    };

    p.restoreGrid = function(editable) {
      if(this.snapshot) {
        var grid = this.grid;
        grid.columns = this.snapshot.columns;
        grid.rows = this.snapshot.rows;
        grid.innerHTML = '';
        this.snapshot.widgets.forEach(function(widget) {
          var el = document.createElement(widget.tag);
          el.dataset.gridLeft = widget.rect.left;
          el.dataset.gridTop = widget.rect.top;
          el.dataset.gridWidth = widget.rect.width;
          el.dataset.gridHeight = widget.rect.height;
          el.setAttribute('editable', editable);
          el.options = widget.options;
          grid.appendChild(el);
        });
        return true;
      } else {
        return false;
      }
    };

    p.snapshotGrid = function() {
      var grid = this.grid;
      var slice = Array.prototype.slice;
      var snapshot = {};
      snapshot.columns = +grid.columns;
      snapshot.rows = +grid.rows;
      snapshot.widgets = slice.call(grid.children).map(function(el) {
        return {
          tag: el.tagName,
          options: typeof el.exports === 'function' ? el.exports() : {},
          rect: {
            left: +el.dataset.gridLeft,
            top: +el.dataset.gridTop,
            width: +el.dataset.gridWidth,
            height: +el.dataset.gridHeight
          }
        };
      });
      return snapshot;
    };

    Polymer('ab-app-utils', {

      openApp: function(cb) {

        var self = this;
        var chooser = this.$.chooser.cloneNode();

        function dirSelectedHandler() {
          chooser.removeEventListener('change', dirSelectedHandler);
          var appPath = chooser.value;
          var app = self.getAppFromPath(appPath);
          return cb(app);
        }

        chooser.addEventListener('change', dirSelectedHandler, false);
        chooser.click();
      },

      saveApp: function(app) {
        var path = require('path');
        var fs = require(FS_EXTRA);

        // Copy app base files
        fs.copySync(
          path.join(BASE_PATH, 'app-template'),
          app.path
        );

        // Copy deps
        fs.copySync(
          path.join(BASE_PATH, 'bower_components'),
          path.join(app.path, 'bower_components')
        );

        // Copy base components
        fs.copySync(
          path.join(BASE_PATH, 'components', 'ab-grid'),
          path.join(app.path, 'components', 'ab-grid')
        );

        fs.copySync(
          path.join(BASE_PATH, 'components', 'ab-widget'),
          path.join(app.path, 'components', 'ab-widget')
        );

        fs.copySync(
          path.join(BASE_PATH, 'components', 'ab-app'),
          path.join(app.path, 'components', 'ab-app')
        );

        fs.copySync(
          path.join(BASE_PATH, 'components', 'ab-app-utils'),
          path.join(app.path, 'components', 'ab-app-utils')
        );

        // Copy widgets
        fs.copySync(
          path.join(BASE_PATH, 'widgets'),
          path.join(app.path, 'widgets')
        );

        // Copy manifest
        fs.writeJSONSync(
          path.join(app.path, 'manifest.json'),
          app
        );

      },

      isValidAppPath: function(appPath) {
        var path = require('path');
        var fs = require(FS_EXTRA);
        var stat = fs.statSync(appPath);
        if(stat.isDirectory()) {
          var manifestPath = path.join(appPath, 'manifest.json');
          var exists = fs.existsSync(manifestPath);
          if(exists) {
            var manifest;
            try {
              manifest = JSON.parse(fs.readFileSync(manifestPath));
            } catch(err) {
              return false;
            }
            return manifest && ('appBuilder' in manifest);
          } else return true;
        } else return false;
      },

      getAppFromPath: function(appPath) {
        var isValid = this.isValidAppPath(appPath);
        if(!isValid) return null;
        var manifest = this.loadAppManifest(appPath);
        var app = new App(appPath, manifest);
        return app;
      },

      getAppFromManifest: function(manifest) {
        return new App(null, manifest);
      },

      loadAppManifest: function(appPath) {
        var path = require('path');
        var fs = require(FS_EXTRA);
        var manifestPath = path.join(appPath, 'manifest.json');
        var manifest;
        try {
          manifest = JSON.parse(fs.readFileSync(manifestPath));
        } catch(err) {/* Do nothing, just define an empty manifest */};
        return manifest || {};
      },

      isNWContext: function() {
        return 'require' in window;
      }

    });

  }());
  </script>
</polymer-element>