<polymer-element name="ab-widget" attributes="options" on-mouseenter="{{showView}}">
  <template>
    <style>

      :host {
        display: block;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: auto;
        position: relative;
      }

      polyfill-next-selector { content: ':host > *'; }
      * ::content {
        display: none;
      }

      #modal {
        background-color: #fff;
        opacity: 0.5;
      }

      #modal button {
        border: none;
        background-color: #92B3D4;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -15px;
        height: 30px;
        width: 50px;
      }

      polyfill-next-selector { content: ':host > .visible'; }
      ::content > .visible {
        display: block !important;
      }

      polyfill-next-selector { content: ':host(:hover) #modal'; }
      :host(:hover) #modal {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      #edit.visible~#modal {
        display: none !important;
      }

    </style>

    <div id="edit" on-mouseleave="{{showView}}">
      <content select=".edit"></content>
    </div>

    <div id="view" class="visible">
      <content select=".view"></content>
    </div>

    <div id="modal" on-click="{{showEdit}}">
      <button>Edit</button>
    </div>

  </template>
  <script>
    Polymer('ab-widget', {

      ready: function() {
        this.asyncFire('showView');
      },

      showEdit: function() {
        this.$.edit.classList.add('visible');
        this.$.view.classList.remove('visible');
        this.asyncFire('showEdit');
      },

      showView: function() {
        this.$.view.classList.add('visible');
        this.$.edit.classList.remove('visible');
        this.asyncFire('showView');
      }

    });
  </script>
</polymer-element>