/*
  Color theme
  http://www.colourlovers.com/palette/1641305/shiny_sky
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Droid Sans', 'Ubuntu Sans', 'sans serif';
  color: #444;
  margin: 0;
  height: 100%;
  padding: 5px 5px 5px 25px;
  background-color: #506C91;
}


button {
  border: none;
}

ab-grid > * {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

#workspace {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #FEFEFE;
}

#widgets,
#start,
#settings {
  position: fixed;
  z-index: 10;
  padding: 10px 5px 5px 50px;
  background-color: #BDD6EA;
}

#widgets #tab,
#start #tab,
#settings #tab {
  background-color: #BDD6EA;
}

#widgets:target,
#start:target,
#settings:target {
  left: 0px;
  background-color: #D5EDFF;
}

#widgets:target #tab,
#start:target #tab,
#settings:target #tab {
  background-color: #D5EDFF;
}



#start {
  left: -250px;
  top: 20px;
  width: 250px;
}

#widgets {
  left: -280px;
  top: 105px;
  width: 280px;
}

#settings {
  left: -250px;
  top: 214px;
  width: 250px;
}

