html, body {
  font-family: 'sans-serif';
  color: #666;
  padding: 0;
  margin: 0;
  height: 100%;
}

#container {
  float: left;
  width: 100%;
}

#menu {
  float: left;
  width: 250px;
  border-right: 1px solid #ccc;
}

#widgets {
  float: right;
  width: 110px;
  border-left: 1px solid #ccc;
  padding: 5px;
  font-size: 10px;
}

#widgets .widgets-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#widgets .widgets-list .widget {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 5px;
}

#workspace {
  overflow: auto;
}

.block {
  display: block;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


ab-container {
  border: 2px dashed #aaa;
}

.view > * {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}

ab-widget {
  background-color: #eee;
}

ab-container > ab-widget {
  background-color: #fff;
}

ab-widget #panels {
  padding: 5px;
}