<polymer-element name="ab-settings">
  <template>
    <ab-filesystem id="fs"></ab-filesystem>

    <style type="text/css">

      :host {
        display: block;
        overflow: auto;
      }

      button {
        display: block;
        padding: 5px;
        width: 100%;
      }

    </style>

    <fieldset disabled?="{{!app}}">
      <legend>App</legend>
      <label>Name</label>
      <input type="text" value="{{app.name}}" />
      <label>Authors</label>
      <input type="text" value="{{app.authors}}" />
      <label>Licence</label>
      <input type="text" value="{{app.licence}}" />
    </fieldset>

  </template>
  <script>
    Polymer('ab-settings', {

      app: null

    });
  </script>
</polymer-element>