<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../ab-grid/ab-grid.html">
<link rel="import" href="../ab-app-utils/ab-app-utils.html">
<polymer-element name="ab-app" attributes="manifestUrl">
  <template>
    <style>
      :host {
        display: block;
      }
      #grid {
        width: 100%;
        height: 100%;
      }
    </style>
    <core-ajax auto url="{{manifestUrl}}"
      on-polymer-response="{{handleResponse}}" handleAs="json">
    </core-ajax>
    <ab-app-utils id="utils"></ab-app-utils>
    <ab-grid id="grid" resizable="false" removable="false" movable="false"></ab-grid>
  </template>
  <script>
   Polymer('ab-app', {

      handleResponse: function(evt, ajax) {
        var manifest = ajax.response;
        var app = this.$.utils.getAppFromManifest(manifest);
        app.grid = this.$.grid;
        app.restoreGrid(false);
      }

   });
  </script>
</polymer-element>
