<polymer-element name="ab-grid" attributes="columns rows removable resizable"
  on-dragstart="{{_dragStart}}" on-dragend="{{_dragEnd}}"
  on-dragover="{{_dragOver}}"
  on-mousedown="{{_startResizing}}" on-mouseup="{{_stopResizing}}"
  on-mousemove="{{_resize}}" on-mouseleave="{{_stopResizing}}">
  <template>
    <link rel="stylesheet" type="text/css" href="style.css">
    <content id="content" select="*"></content>
    <div id="placeholder" class="move-transition"></div>
  </template>
  <script src="scripts/grid-layout.js"></script>
  <script src="scripts/ab-grid.js"></script>
</polymer-element>