:host {
  display: block;
  position: relative;
  background: whiteSmoke;
}

:host > * {

  display: block;
  position: absolute;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: top 250ms ease, left 250ms ease;
  -moz-transition: top 250ms ease, left 250ms ease;
  -ms-transition: top 250ms ease, left 250ms ease;
  -o-transition: top 250ms ease, left 250ms ease;
  transition: top 250ms ease, left 250ms ease;

  background-color: white;

  z-index: 10;

  overflow: auto;

}

:host > .resizable, :host > .removable {
  padding-right: 20px;
}

:host > .resizable::after {
  bottom: 3px;
  right: 3px;
  width: 8px;
  height: 8px;
  content: '';
  display: block;
  position: absolute;
  border-bottom: 3px solid #ccc;
  border-right: 3px solid #ccc;
  cursor: se-resize;
  pointer-events: none;
}

:host > .removable::before {
  content: '✕';
  top: 2px;
  right: 2px;
  font-size: 18px;
  display: block;
  position: absolute;
  color: #ccc;
  font-weight: bold;
  cursor: pointer;
  pointer-events: none;
}

:host > *.moving {
  opacity: 0.7;
}

#placeholder {

  border: 3px dashed rgba(0, 112, 255, 0.5);
  background-color: transparent;

  -webkit-transition: width 250ms ease, height 250ms ease;
  -moz-transition: width 250ms ease, height 250ms ease;
  -ms-transition: width 250ms ease, height 250ms ease;
  -o-transition: width 250ms ease, height 250ms ease;
  transition: width 250ms ease, height 250ms ease;

  z-index: 1;
  display: none;

}

#placeholder::after, #placeholder::before {
  border: none;
  content: '';
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dragged {
  display: block;
  background-color: #fff;
}