<link rel="import" href="../ab-filesystem/index.html">
<polymer-element name="ab-appmenu">
  <template>
    <ab-filesystem id="fs"></ab-filesystem>

    <style type="text/css">

      :host {
        display: block;
        overflow: auto;
      }

      button {
        display: block;
        padding: 5px;
        width: 100%;
      }

    </style>

    <button on-click="{{openApp}}" disabled?="{{!isNWContext}}">Open App</button>
    <button on-click="{{saveApp}}" disabled?="{{!app}}">Save App</button>

  </template>
  <script>
    Polymer('ab-appmenu', {

      app: null,
      isNWContext: false,

      ready: function() {
        this.isNWContext = this.$.fs.isNWContext();
      },

      openApp: function() {
        var self = this;
        this.$.fs.openApp(function(app) {
          if(app) {
            self.app = app;
            self.asyncFire('polymer-signal', {name: 'appchange', data: app});
          } else {
            alert('Invalid app folder !');
          }
        });
      },

      saveApp: function() {
        this.$.fs.saveApp(this.app);
        alert("App saved !");
      }

    });
  </script>
</polymer-element>