ab-widget-container {
  display: block;
}

ab-widget-container > .panel {
  display: block;
  overflow: auto;
  height: 100%;
  margin-bottom: 0;
}

ab-widget-container > .panel > .panel-body > * {
  display: block;
  width: 100%;
}
