<link rel="import" href="../../bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="../ab-grid/ab-grid.html">
<polymer-element name="ab-workspace"
  on-dragover="{{widgetDragOver}}" on-drop="{{widgetDrop}}">
  <template>

    <style type="text/css">

      :host {
        display: -webkit-flex;
        display: flex;
      }

      #grid {
        flex: 1;
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2O8e/duPQMaUFZWbkQXYxwKCtEdDeJjczfjEFAIADBCI3luyESPAAAAAElFTkSuQmCC) repeat;
      }

    </style>

    <polymer-signals on-polymer-signal-appchange="{{handleAppChange}}"></polymer-signals>
    <ab-grid id="grid" columns="10" rows="10"></ab-grid>

  </template>
  <script>
    Polymer('ab-workspace', {

      app: null,

      handleAppChange: function(evt, app) {
        app.grid = this.$.grid;
        app.restoreGrid();
      },

      widgetDragOver: function(evt) {

        if(evt.dataTransfer.effectAllowed === 'copy') {

          if (evt.preventDefault) {
            evt.preventDefault();
          }

          evt.dataTransfer.dropEffect = 'copy';

          return false;
        }

      },

      widgetDrop: function(evt) {
        var dataTransfer = evt.dataTransfer;
        var widgetType = dataTransfer.getData('application/x-ab-widget');
        if(widgetType) {
          var widget = document.createElement(widgetType);
          this.$.grid.appendChild(widget);
        }
        return false;
      }

    });
  </script>
</polymer-element>