<link rel="import" href="../../bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="../ab-grid/index.html">
<polymer-element name="ab-workspace"
  on-dragover="{{widgetDragOver}}" on-drop="{{widgetDrop}}" on-ab-widget-remove="{{widgetRemove}}">
  <template>
    <style type="text/css">
      :host {
        display: block;
      }

      #grid {
        width: 100%;
        height: 100%;
      }

    </style>
    <polymer-signals on-polymer-signal-appchange="{{appChangedSignal}}"></polymer-signals>
    <ab-grid id="grid" columns="5" rows="5"></ab-grid>
  </template>
  <script>
    Polymer('ab-workspace', {

      app: null,

      appChangedSignal: function(evt, app) {
        if(app.widgets) {
          this.$.grid.innerHTML = '';
          //this.buildWidgets(app.widgets, this.$.grid);
        }
      },

      buildWidgets: function(node, container) {
        var self = this;
        var el = container || document.createElement(node.type);
        el.options = node.options;
        if(Array.isArray(node.children)) {
          node.children.forEach(function(childNode) {
            var childEl = self.buildWidgets(childNode);
            el.appendChild(childEl);
          });
        }
        return el;
      },

      widgetDragOver: function(evt) {
        if (evt.preventDefault) {
          evt.preventDefault();
        }
        return false;
      },

      widgetDrop: function(evt) {
        var dataTransfer = evt.dataTransfer;
        var widgetType = dataTransfer.getData('application/x-ab-widget');
        if(widgetType) {
          var widget = document.createElement(widgetType);
          this.$.grid.appendChild(widget);
        }
        return false;
      },

      widgetRemove: function(evt) {
        var widget = evt.target;
        widget.parentNode.removeChild(widget);
      }

    });
  </script>
</polymer-element>