<link rel="import" href="../ab-app-utils/ab-app-utils.html">
<polymer-element name="ab-menu">
  <template>
    <ab-app-utils id="utils"></ab-app-utils>

    <style type="text/css">

      :host {
        display: block;
        overflow: auto;
        height: 50px;
      }

      button {
        display: inline-block;
        padding: 10px;
        font-weight: bold;
        border: none;
        background-color: #BDD6EA;
        color: #333;
        vertical-align: super;
      }

      button:disabled {
        background-color: #ccc;
        color: #666;
      }

      #title {
        display: inline-block;
        margin: 0 20px 0 0;
      }

      #title span.builder {
        color: #BDD6EA;
      }

      #title span.suffix {
        font-size: 10px;
        vertical-align: top;
        color: #f7f7f7;
      }

      #appInfo {
        vertical-align: middle;
      }

    </style>

    <h1 id="title">App<span class="builder">Builder</span><span class="suffix">alpha</span></h1>
    <button on-click="{{openApp}}" disabled?="{{!isNWContext}}">Open <i class="fa fa-folder-open"></i></button>
    <button on-click="{{saveApp}}" disabled?="{{!app}}">Save <i class="fa fa-save"></i></button>

    <span id="appInfo">{{app.path}}</span>

  </template>
  <script>
    Polymer('ab-menu', {

      app: null,
      isNWContext: false,

      ready: function() {
        this.isNWContext = this.$.utils.isNWContext();
      },

      openApp: function() {
        var self = this;
        this.$.utils.openApp(function(app) {
          if(app) {
            self.app = app;
            self.asyncFire('polymer-signal', {name: 'appchange', data: app});
          } else {
            alert('Invalid app folder !');
          }
        });
      },

      saveApp: function() {
        this.$.utils.saveApp(this.app);
        alert("App saved !");
      }

    });
  </script>
</polymer-element>