<link rel="import" href="../ab-app-utils/ab-app-utils.html">
<polymer-element name="ab-menu">
  <template>
    <ab-app-utils id="utils"></ab-app-utils>

    <style type="text/css">

      :host {
        display: block;
        overflow: auto;
      }

      button {
        display: block;
        padding: 5px;
        width: 100%;
      }

    </style>

    <button on-click="{{openApp}}" disabled?="{{!isNWContext}}">Open App</button>
    <button on-click="{{saveApp}}" disabled?="{{!app}}">Save App</button>

  </template>
  <script>
    Polymer('ab-menu', {

      app: null,
      isNWContext: false,

      ready: function() {
        this.isNWContext = this.$.utils.isNWContext();
      },

      openApp: function() {
        var self = this;
        this.$.utils.openApp(function(app) {
          if(app) {
            self.app = app;
            self.asyncFire('polymer-signal', {name: 'appchange', data: app});
          } else {
            alert('Invalid app folder !');
          }
        });
      },

      saveApp: function() {
        this.$.utils.saveApp(this.app);
        alert("App saved !");
      }

    });
  </script>
</polymer-element>