<div style="min-height: 100px; display: block;">
  <ul class="list-group" ng-show="Resources.hasResources()">
    <li class="list-group-item" ng-repeat="rId in Resources.getAvailables()">
      <div class="checkbox">
        <label>
          <input ng-if="selectMode" type="checkbox" ng-model="srModels[rId]" ng-change="selectResource(rId)" />
          {{ Resources.getName(rId) }}
        </label>
      </div>
    </li>
  </ul>
  <div class="alert alert-info" ng-hide="Resources.hasResources()">
    Drop your files here !
  </div>
</div>
